#contenedor-imagen{
    width: 50%;    
    margin-right: 20px;
    transition: all 0.3s ease;
}

h4{
    font-weight: bold;
}

#contenedor-imagen:hover {   
    transition: all 0.3s ease;
    transform: scale(0.96);
}

#contenedor-descripcion {
    height:180px;
    overflow: auto;
}

img {
    width: 100%; 
    height: 300px;
}

#contenedor-texto {
    width: 50%;    
    height: 300px;
   
    
}

.contenedor-tecnologias-iconos {     
    color: rgb(147, 214, 236); 
    position: relative;
    top: 2% 
}

#icono-github{
    height:40px;
    width: 45px;
    position: relative;
    right: 17%;      
}
#icono-flecha{
    font-size: 1.3em;
    position: relative;
    top: 14%;
    color: white;
}

.iconos:hover{
    filter: drop-shadow(0 0 7px lightblue)    
}

.icono-borrar {
    color:red;
    cursor: pointer;
    font-size: 1.5em;
    margin-left: auto;
}

.icono-borrar:hover{    
    transform: scale(1.3)
}

@media screen and (max-width:900px) {
   #contenedor-texto{    
    position: absolute;
    width: 100%;
    opacity: 0; 
    padding: 5px 5px;
    transition: all 0.5s ease-in-out;     
   }
  
   #contenedor-imagen{
    width: 100%;
    margin-right: 0px;    
   }
   #contenedor-texto:hover{
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;       
    transform: scale(0.97);
    transition: all 0.5s ease-in-out; 
    cursor: default;
    
   }
   #icono-github {
    bottom:10%;    
   }
   #icono-flecha{
    top:5%
   }
}

@media screen and (max-width:450px) {  
    .contenedor-tecnologias-iconos>div{
         gap: 1 !important;        
         overflow-x: auto;
    }
    
   #contenedor-descripcion{
    overflow-x: auto;
    height: 150px !important; 
  
   }
    
 }