<div id="contenedor-imagen">  
    <a *ngIf="proyecto.urlSitioWeb" href="{{proyecto.urlSitioWeb}}" target="_blank">
      <img src="{{proyecto.imagen}}">
    </a>
    <a *ngIf="!proyecto.urlSitioWeb" href="{{proyecto.urlGitHub}}" target="_blank">
      <img src="{{proyecto.imagen}}">
    </a>   
</div>  
<div id="contenedor-texto"> 
    <div class="d-flex align-items-baseline mb-3">
      <h4>{{proyecto.nombre}}</h4>
      <fa-icon [icon]="faX" *ngIf="modoEdicion" class="icono-borrar"></fa-icon>
    </div>
    <div style="height: 32%;" >
      <p>{{proyecto.descripcion}}</p>
    </div>
    <div class="contenedor-tecnologias-iconos">
        <div class="d-flex gap-3">
          <label *ngFor="let tecnologia of proyecto.tecnologias" class="tecnologia">{{tecnologia}}</label>
        </div>    
        <div class="contenedor-iconos d-flex mt-2 gap-1">          
          <a href="{{proyecto.urlGitHub}}" target="_blank" title="GitHub">         
              <img class="iconos" id="icono-github" src="../assets/GitHub.png">                    
          </a>
          <a *ngIf="proyecto.urlSitioWeb" href="{{proyecto.urlSitioWeb}}" target="_blank" title="Link Externo"> 
            <fa-icon class="iconos" id="icono-flecha" [icon]="faArrow"></fa-icon> 
          </a>          
        </div>
    </div>
</div>       

