<div class="d-flex flex-wrap contenedor">    
    <div class="w-25 d-flex flex-wrap justify-content-center align-items-center contenedor-imagen-fecha px-2" >
        <div class="d-flex align-items-center justify-content-center text-center w-100 mb-2" style="height: 50px">
            <p>{{educacion.fechaInicio}} - {{educacion.fechaFin}}</p>
        </div>
        <div style="position: relative; bottom: 5%; padding: 0px 5px;" >
            
                <a href="{{educacion.urlInstitucion}}" target="_blank">
                    <img class="img-fluid.rounded" src="{{educacion.imagen}}">
                </a>
            
        </div>
        
    </div>
    <div class="w-75 contenedor-texto">
        <div class="d-flex align-items-baseline">
            <h5>{{educacion.nombre}}</h5>
            <div class="ms-auto">
                <button>
                    <fa-icon [icon]="faX" *ngIf="modoEdicion" class="icono-borrar"></fa-icon>    
                  </button>       
                  <button>
                      <fa-icon 
                              id="icono-editar"
                              [icon]="faSquarePen" 
                              *ngIf="modoEdicion" 
                              data-bs-toggle="modal" 
                              [attr.data-bs-target]="'#educacion-modal-editar-' + educacion.id">
                      </fa-icon> 
                  </button>
            </div> 
        </div>
        <a href="{{educacion.urlInstitucion}}" target="_blank">@ {{educacion.institucion}}</a>
        <p id="p-descripcion">{{educacion.descripcion}}</p>
        <a href="{{educacion.urlCertificado}}" *ngIf="educacion.urlCertificado" target="_blank">@ Certificado</a>
    </div>
</div>

   
