.container{
    margin-top: 6px;
    padding: 0px !important;
}

#titulo {
    font-weight:bold;
    color:white !important
}

#duracion {
    font-size:14px; 
    margin-top:-10px
}

.container>div>p, a{
    color: lightblue;
}


a:link, a:visited{
    color: lightblue;
    text-decoration: none;
}

a {
    display: inline-block;
    position: relative
}

a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px ;
    left: 0;
    bottom: 40%;
    background-color: lightblue;
    transform-origin: bottom left;
    transform: scaleX(0);
    transition: transform 0.3s ease-out
}

a:hover::after{
    transform-origin: bottom left;
    transform: scaleX(1)
}

@media screen and (max-width: 1050px) {

   
    .container-items-exp{
        width: 100%;
    } 
    .container{
        display:block !important;
        margin-top: 20px
    }    
    a {
        margin-bottom: 30px
    }
    a::after{
        bottom: 7%
    }  
}