@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif !important;
    background-color: #000000;
}


#menu {
    background-color: #000000 !important;

} 

#menu li > a {
    font-size: 15px;
    font-weight: bold;
    color: white;
}

article > div {background-color: #00253E !important;
color:white}

.conocimientos-iconos > img, a > img {max-height: 30px;
margin-left: 10px;}

footer {
    background: #002E4E;
    height: auto;
}