#boton_cv:hover, #boton_login:hover, #boton_logout:hover{
    background-color: rgb(62, 63, 65) !important;
    transform: scale(1.10) !important;
       
}

#boton_cv{
    padding:8px;
    color:lightblue; 
    background-color: black;
    border: solid 2px lightblue;
    border-radius: 10%;
    margin-right: 50px
}

#menu {
    background-color: black;
}

#boton_login, #boton_logout{
    width: 8em;
    padding:8px;
    color:lightblue; 
    background-color: black;
    border: solid 2px lightblue;
    border-radius: 10%;
}

#logo {
   height:3em
}
#logo:hover{
    filter:drop-shadow(0px 0px 10px lightblue);
    transform: scale(1.10)   
}

.link {
    font-size: 15px;
    font-weight: bold;    
    color: white;    
}

.link:hover {
    color: lightblue;
    transform: scale(1.10)
}

fa-icon{
    font-size:30px; 
    color: rgb(131, 198, 221)
}


@media screen and (max-width: 1200px){ 
    #nav-colapsado{
    align-items: end !important    
    }
    #boton_cv{        
    margin-right: 0px;
    }
    #boton_login{
        margin-bottom: 10px
    } 
}  
    
