<header> 
    <nav class="navbar navbar-expand-xl fixed-top p-1" id="menu" appScrollMenu>        
        <div class="container-fluid">
            <a class="navbar-brand ms-3" (click)="contraerNav()" href="#">
                <img id="logo" src="../assets/Logo.png">                
            </a>
            <button 
                class="navbar-toggler me-1" 
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#navbarSupportedContent" 
                aria-controls="navbarSupportedContent" 
                aria-expanded="false" 
                aria-label="Toggle navigation"
                (click)="alternarScrolling()">
                <span> 
                    <fa-icon *ngIf="scrollVisible" [icon]="faBars"></fa-icon>
                    <fa-icon *ngIf="!scrollVisible" [icon]="faX"></fa-icon>
                </span>
            </button>
            <div #navBar class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul id="nav-colapsado" class="navbar-nav mb-2 mb-xl-0 align-items-center">                            
                    <li class="nav-item">
                        <a class="nav-link link"  href="#acerca de mi" (click)="contraerNav()">Acerca de mí</a>
                    </li>                
                    <li class="nav-item">
                        <a class="nav-link link" href="#conocimientos" (click)="contraerNav()">Conocimientos</a>
                    </li>                            
                    <li class="nav-item">
                        <a class="nav-link link" href="#experiencia laboral" (click)="contraerNav()">Experiencia Laboral</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link" href="#proyectos" (click)="contraerNav()">Proyectos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link" href="#formacion academica" (click)="contraerNav()">Formación Académica</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link" href="#contacto" (click)="contraerNav()">Contacto</a>
                    </li>
                    <li class="nav-item ms-2">
                        <a class="nav-link" href="https://drive.google.com/file/d/128Fr4-4NTl4tOaN1A0ddEX3arm-wKYz2/view?usp=sharing" target="_blank"> 
                            <button id="boton_cv" (click)="contraerNav()">Currículum</button>
                        </a>
                    </li>                    
                </ul>  
                <div class="d-flex justify-content-end me-xl-2">                    
                    <button 
                        id="boton_login" 
                        (click)="contraerNav()" 
                        data-bs-toggle="modal" 
                        data-bs-target="#loginModal"
                        *ngIf="!modoEdicion">
                        Login 
                    </button>
                    <button                        
                        id="boton_logout" 
                        (click)="contraerNav(); alternarEdicion()" 
                        *ngIf="modoEdicion">
                        Logout 
                    </button>
                                                                  
                </div>                      
            </div>
        </div>        
    </nav>      
</header> 
<app-modal-login></app-modal-login>  