#container {
    width: 70%;
}

h3{
    color: lightblue;
}

.iconos-edicion {
    font-size:2.5em; 
    color:rgb(36, 95, 184);    
    cursor: pointer;
}

.conocimientos-iconos > img, .conocimientos-iconos > div > img{
    height: 35px;
    margin-left: 10px;  
}

.conocimientos-iconos {
    width: 35%;
}

section {
    opacity: 0;
    transform: translateY(0px);
    transition: all 0.5s ease
}

.animacion-seccion{    
    transform: translateY(50px) !important;
    opacity: 1 !important;
    transition: all 0.5s ease;           
} 

fa-icon{
    font-size: 25px;
    color: #fd4;
    padding: 7px;    
    transition: all 0.2s ease;

}

.textoModal, .etiquetaModal, .inputModal {
    color:black !important
}

.etiquetaModal {
    width: 30%
}

.inputModal {
    width: 70%
}






@media  screen and (max-width: 900px){
    .conocimientos-div{
        width: 100% !important;
    }
    section {
        height: auto !important;
    }    
    
} 