<section  class="d-flex justify-content-center align-items-center" id="conocimientos">
    <div class="card my-3" style="width: 50%;">
        <div class="card-body">
            <h3 class="card-title"><strong>Conocimientos</strong></h3>
            <div class="conocimientos-iconos my-3">HTML<img src="../assets/HTML.png"></div>
            <div class="conocimientos-iconos my-3">CSS<img src="../assets/CSS.png"></div>
            <div class="conocimientos-iconos my-3">JavaScript<img src="../assets/JS.png"></div>
            <div class="conocimientos-iconos my-3">Python<img src="../assets/Python.png"></div>                
            <div class="conocimientos-iconos my-3">Java<img src="../assets/Java.png"></div> 
            <div class="conocimientos-iconos my-3">MySQL<img src="../assets/MySQL.png"></div>                                       
        </div>
    </div>
</section>