<div 
    class="modal fade modal-lg"     
    id="loginModal" tabindex="-1" 
    aria-labelledby="loginModalLabel"
    aria-hidden="true"
    >
    <div class="modal-dialog modal-dialog-centered" role="document" (click)="resetearForm ()">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h3 class="modal-title" id="loginModalLabel">Iniciar Sesión</h3>                        
            </div>
            <form (ngSubmit)="onSubmit()" [formGroup]="formularioLogin" >
                <div class="modal-body">
                    
                        <label for="user" class="form-label modal-body-div"><b>Usuario</b></label>         
                        <input
                            class="form-control" 
                            type="text" 
                            id="user" 
                            name="user" 
                            placeholder="admin" 
                            maxlength="15"
                            formControlName="usuario"
                            (click)="ocultarMensajeError()"
                            [ngClass]="{'is-invalid':(formularioInvalido && formularioLogin.get('usuario')?.errors?.['required'])||usuarioIncorrecto}">
                        <p 
                            class="text-danger"
                            style="margin-top: -7px"  
                            *ngIf="formularioInvalido && formularioLogin.get('usuario')?.errors?.['required']">
                            Este campo es obligatorio
                        </p>
                        <label for="password" class="form-label"><b>Contraseña</b></label>                          
                        <input
                            class="form-control" 
                            type="password" 
                            id="password" 
                            name="password"
                            maxlength="20" 
                            placeholder="ArgentinaPrograma"
                            formControlName="contraseña"
                            (click)="ocultarMensajeError()"
                            [ngClass]="{'is-invalid':(formularioInvalido && formularioLogin.get('contraseña')?.errors?.['required'])||usuarioIncorrecto}">
                        <p 
                            class="text-danger mb-0" 
                            *ngIf="formularioInvalido && formularioLogin.get('contraseña')?.errors?.['required']">
                            Este campo es obligatorio
                        </p>
                        <p 
                            class="text-danger mt-2 mb-0" 
                            *ngIf="usuarioIncorrecto">
                            Usuario y/o contraseña incorrectos
                        </p>                     
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <button 
                        type="button" 
                        class="btn btn-danger"                     
                        data-bs-dismiss="modal">
                        Cerrar
                    </button>
                    <button
                        type="submit" 
                        class="btn btn-primary">
                        Ingresar
                    </button>
                    
                </div>
            </form>
        </div>
    </div>
</div>