
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat';
    background-color: black !important;
    color: white;
    padding-top: 5em;    
}

section > div{    
    background-color: black !important;
}

section {
    height: 100vh
}

.conocimientos-iconos > img, a > img {height: 30px;
margin-left: 10px;}

footer {
    background: #000000;
    height: auto;}