
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --skills-bar-length: 0%;
    --exp-bar-position-Y: 0px
}

body {
    font-family: 'Montserrat';
    background-color: black !important;
    color: white;
    padding-top: 5em;
    overflow-x: hidden;     
}

.scroll-hidden {
    overflow: hidden;    
}

section > div{    
    background-color: black !important;
}

section {
    min-height: 100vh;
    height: auto;    
}

footer {
    background: #000000;
    height: auto;
}

/* Modificando la barra de desplazamiento (scrollbar) */

/* Funciona en Firefox */

* {
    scrollbar-width: thin;
    scrollbar-color: #495670 black;
  }
  
/* Funciona en Chrome, Edge, y Safari */


::-webkit-scrollbar {
    width: 12px;
}
    
::-webkit-scrollbar-track {
    background: black;      
 
}  

::-webkit-scrollbar-thumb {
    background-color: #495670;    
    border-radius: 10px; 
    border: 3px solid black;}


@media screen and (min-width:1400px){
    section {
        min-height: 80vh !important;
    }
    
}