<section class="d-flex justify-content-center align-items-center" id="formacion academica">
    <div class="card" id="container"> 
        <div class="my-3 d-flex justify-content-between align-items-baseline flex-wrap" data-aos="fade-right" data-aos-duration="600" data-aos-easing="ease-in-out">
            <h3><strong>{{titulo}}</strong></h3>
            <div>
                <fa-icon

                    [icon]="faPlus" 
                    *ngIf="modoEdicion" 
                    data-bs-toggle="modal" 
                    data-bs-target="#educacion-modal">
                </fa-icon> 
                <fa-icon
                    id="a"
                    *ngIf="modoEdicion" 
                    [icon]="faSquarePen"
                    data-bs-toggle="modal" 
                    data-bs-target="#titulo-educacion-modal">
                </fa-icon>
            </div>  
        </div>
        <app-formacion-academica-item            
              *ngFor="let educacion of formacionAcademica"
              [educacion]="educacion"
              class="my-3 w-100"
              data-aos="fade-right" data-aos-duration="600" data-aos-easing="ease-in-out"                                                  
          >
          </app-formacion-academica-item> 
         
    </div>         
</section>
<app-formacion-academica-modal
    (modificarTitulo)="cambiarTitulo($event)">
</app-formacion-academica-modal>

