#container {
    width: 70%;
    opacity: 0;
    transform: translateY(0px);
    transition: all 0.5s ease
}

h3{
    color: lightblue;
}

.animacion-seccion{    
    transform: translateY(50px) !important;
    opacity: 1 !important;
    transition: all 0.5s ease;           
} 

fa-icon{
    font-size:2.5em; 
    color:rgb(36, 95, 184); 
    padding: 7px;
    cursor: pointer; 
}

.icono-borrar:hover{    
    transform: scale(1.2);
    color:red !important
}

fa-icon:hover{
    color:lightblue
}

.textoModal, .etiquetaModal, .inputModal {
    color:black !important
}

.etiquetaModal {
    width: 30%
}

.inputModal {
    width: 70%
}

.imagenEdicion{
    height: 8em;
}

.inputEdicion{
    width: 11em
}

.container-lista-exp {
   width: 30%;
   margin-right: 10px;       
}

.icono-borrar {
    color:red;
    cursor: pointer;
    font-size: 1.5em;    
    
}

.container-items-exp {
    width: 70%;
}

.boton-exp-item {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    height: 45px;
    font-size: 15px;
    padding: 0px 15px;    
    width: 100%;        
    text-align: left;
    border-left: solid 2px #495670;       
}

.boton-exp-item-seleccionado {
    color: rgb(188, 230, 248)   
}

.boton-exp-item:focus{
    color:rgb(188, 230, 248)    
}

.boton-exp-item:hover{
    background-color: #030f22;
    color:rgb(188, 230, 248)    
}

.lista-seleccion {
    width: 2px;
    position: absolute;
    z-index: 10;
    border-radius: 4px;
    top: 0px;
    left: 0px;   
    height: 45px;
    background-color: aqua;    
}

.animacion-lista-seleccion{    
    transform: translateY(var(--exp-bar-position));    
    transition: transform 0.25s ease;           
} 

.exp-bar--45 {
    --exp-bar-position:45px;
}

.exp-bar--90 {
    --exp-bar-position:90px;
}


@media screen and (max-width: 1050px) {

    .container-lista-exp {
        width: auto !important     
    } 
    .boton-exp-item{
        margin-bottom: 4px;
    }
   
}