<article id="experiencia laboral" class="d-flex justify-content-center">
    <div class="card my-3" style="width: 50%;">
        <div class="card-body">
          <h3 class="card-title"><strong>Experiencia laboral</strong></h3>
          <p class="card-text">Estudiante de Desarrollo Web y Aplicaciones Digitales. Como 
            desafío personal estoy buscando mi primera experiencia
            laboral en el área de IT para poder aplicar mis conocimientos en un equipo de trabajo y
            crecer profesionalmente.</p>                  
        </div>
    </div>
</article>