<!-- MODAL IMAGEN PERFIL -->
    
<div 
class="modal fade modal-lg"     
id="perfilModal" tabindex="-1" 
aria-labelledby="perfilModalLabel"
aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered" role="document" (click)="resetearForm()">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h3 class="modal-title textoModal" id="perfilModalLabel">Editar Foto de Perfil</h3>                        
            </div>
            <div class="modal-body">                                 
                <form (ngSubmit)="onSubmit()" [formGroup]="formularioPerfil">
                    <div class="mb-3">
                        <label for="user" class="form-label me-5 textoModal">Imagen</label>                        
                        <img *ngIf="!previsualizacionImagen" class="imagenEdicion" [src]="miBanner.imagen_perfil">
                        <img *ngIf="previsualizacionImagen" class="imagenEdicion mb-1" [src]="previsualizacionImagen">                         
                    </div>                        
                    <div class="mb-2">
                        <label for="user" class="form-label textoModal me-4">Nueva Imagen</label>
                        <input 
                            class="inputEdicion me-2" 
                            (change)="capturarImagen($event)" 
                            type="file" 
                            accept="image/*"
                            formControlName="imagen_perfil"
                            (click)="ocultarMensajeError()">                        
                    </div>
                    <p 
                        class="text-danger" 
                        *ngIf="formularioInvalido">
                        Este campo es obligatorio
                    </p> 
                    <label *ngIf="previsualizacionImagen" class="textoModal mb-1">{{nombreArchivo}}</label>                          
                    
                    <div class="modal-footer d-flex justify-content-between pt-2 pe-0 pb-0 ps-0">
                        <button 
                            type="button" 
                            class="btn btn-danger" 
                            data-bs-dismiss="modal">
                            Cerrar
                        </button>
                        <button 
                            type="submit" 
                            class="btn btn-primary"                          
                            >
                            Aceptar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
