<div class="d-flex justify-content-center align-items-center" id="container">    
    <div 
        id="div-editar-banner"
        class="d-flex align-items-start justify-content-end px-4"
        *ngIf="modoEdicion">
        <fa-icon [icon]="faSquarePen"></fa-icon>
    </div>
    <img 
        id="banner" 
        src="../assets/Banner.jpg"
    >  
    <div id="sub-container">
        <div class="d-flex justify-content-end align-items-start" *ngIf="modoEdicion">
            <fa-icon [icon]="faSquarePen"></fa-icon>
        </div>
        <img id="foto-perfil" src="../assets/Foto Perfil.jpg">
        <div class="d-flex justify-content-end align-items-start" *ngIf="modoEdicion">
            <fa-icon [icon]="faSquarePen" id="editar-texto"></fa-icon>
        </div>
        <h2>Julián Meneses </h2>
        <h5>Desarrollador Web Full Stack</h5>
    </div>
</div>

