#banner {
    width:100%;
    height:100%
}

#foto-perfil{
    border-radius: 50%; 
    height: 17em;
    margin-bottom: 15px   
}

#container{
    height: 80vh;
}

#sub-container{
    position: absolute;
    z-index: 1;      
}

#contenedor-iconos-redes{
    position: absolute; 
    z-index: 5; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    margin-top: -30px;
}

.botones-redes {
    border-radius: 30px;
    border: none;
    background-color: #888;
    height: 3.6rem;
    width: 3.6em;
    padding: 1px;
    margin: 0px 8px    
}

.link-redes {
    padding-right: 8.5px;   
}

.iconos-redes {
    height: 2.3em; 
    margin-left: 9px; 
}

#boton-github{
    border-radius: 30px;
    border: none;
    background-color: #888;
    height: 3.6rem;
    width: 3.6em;
    padding-right: 10px;
    margin-left: 6px    
}

#icono-github{
    height:56px; 
    position: relative; 
    right: 13%;   
}

.botones-redes:hover, #boton-github:hover {    
    filter: drop-shadow(0 0 7px lightblue);
    transform: scale(1.05); 
}

h2, h5{
    font-family:"Blippo"; 
    text-align: center; 
    font-weight: bold;    
    filter: drop-shadow(0 0 10px black)
}

.iconos-edicion{
    font-size:3em; 
    color:rgb(36, 95, 184);
    position:absolute;
    z-index: 3;
    filter: drop-shadow(0 0 7px black);
    cursor: pointer;
}

.iconos-edicion:hover{
    color:lightblue   
}

#editar-texto{
    font-size: 2.5em !important
}

#div-editar-banner{
    height:80%; 
    width:100%; 
    position:absolute
}

.textoModal, .etiquetaModal, .inputModal {
    color:black !important
}

.etiquetaModal {
    width: 30%
}

.inputModal {
    width: 70%
}

.imagenEdicion{
    height: 8em;
}

.inputEdicion{
    width: 11em
}

@media screen and (min-width: 1400px){ 
    h2{
    font-size: 2.5em;   
    }
    h5{
        font-size: 1.7em;
    }
    #foto-perfil{     
        height: 25em !important;   
    } 
    #container{
        height: 86vh;
    } 
}  
    