<!-- MODAL TITULO -->

<form (ngSubmit)="onSubmit()" [formGroup]="formularioProyecto">
    <div 
    class="modal fade modal-lg"      
    id="proyecto-modal-titulo" tabindex="-1" 
    aria-labelledby="textoModalLabel"
    aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered" role="document" (click)="resetearForm()">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h3 class="modal-title textoModal" id="textoModalLabel">Editar Título</h3>                        
                </div>
                <div class="modal-body">                                 
                    <div class="mb-3">
                        <div class="d-flex modal-body-div align-items-baseline">
                            <label for="user" class="form-label etiquetaModal">Título</label>
                            <input 
                                #nuevoTitulo 
                                type="text" 
                                class="form-control inputModal" 
                                placeholder="Ingrese nuevo título"
                                maxlength="30"
                                formControlName="titulo"
                                [ngClass]="{'is-invalid':formularioInvalido && formularioProyecto.get('titulo')?.errors?.['required']}"
                                (click)="ocultarMensajeError()">                    
                        </div>
                        <p 
                            class="text-danger" 
                            *ngIf="formularioInvalido && formularioProyecto.get('titulo')?.errors?.['required']">
                            Este campo es obligatorio
                        </p> 
                    </div>             
                    
                    <div class="modal-footer d-flex justify-content-between pt-2 pe-0 pb-0 ps-0">
                        <button 
                            type="button" 
                            class="btn btn-danger"                            
                            data-bs-dismiss="modal"
                            >
                            Cerrar
                        </button>
                        <button 
                            type="submit" 
                            class="btn btn-primary"                                                                     
                            >
                            Aceptar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>