<section id="contacto" class="d-flex justify-content-center">
    <div id="container">        
        <div class="mb-4 d-flex justify-content-center align-items-baseline flex-wrap" data-aos="zoom-in" data-aos-duration="800" data-aos-easing="ease-in-out">
            <h3><strong>{{titulo}}</strong></h3>
            <div class="ms-3">
                <fa-icon
                        *ngIf="modoEdicion"
                        class="icono-edicion" 
                        [icon]="faSquarePen"
                        data-bs-toggle="modal" 
                        data-bs-target="#titulo-contacto-modal">
                </fa-icon>
                
                <fa-icon
                    style="font-size: 2.3em"
                    *ngIf="modoEdicion"
                    class="icono-edicion"
                    [icon]="faUserPen" 
                    data-bs-toggle="modal" 
                    data-bs-target="#contacto-modal">
                </fa-icon>  
            </div>                             
                     
        </div>
        <div class="mt-4 d-flex" id="container-form-info" data-aos="zoom-in" data-aos-duration="800" data-aos-easing="ease-in-out" >
            <div id="container-form">                
                <div class="row">
                    <div class="col">
                        <p>Formulario de contacto</p>
                    </div>
                </div>
                <form (ngSubmit)="onSubmit()" [formGroup]="formularioContacto">
                    <div class="row">
                        <div class="col d-flex align-items-center">
                            <span>
                                <fa-icon [icon]="faUser" class="icono-contacto"></fa-icon>
                            </span>                             
                            <input
                                #nombreForm 
                                type="text" 
                                id="nombre" 
                                name="nombre" 
                                class="form-control my-2" 
                                placeholder="Nombre" 
                                formControlName="nombre"
                                maxlength="30"                                
                                (click)="ocultarMensajeError()">                            
                        </div>
                        <div 
                            class="mensajeErrorContacto alert alert-danger" 
                            *ngIf="formularioInvalido && formularioContacto.get('nombre')?.errors?.['required']">
                            Este campo es obligatorio
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="col d-flex align-items-center">
                            <span>
                                <fa-icon [icon]="faFileLines" class="icono-contacto"></fa-icon>
                            </span>                          
                            <input
                                #asuntoForm 
                                type="texto" 
                                id="asunto" 
                                name="asunto" 
                                class="form-control my-2" 
                                placeholder="Asunto" 
                                formControlName="asunto"
                                maxlength="40"                                
                                (click)="ocultarMensajeError()" >
                        </div>
                        <div 
                            class="mensajeErrorContacto alert alert-danger" 
                            *ngIf="formularioInvalido && formularioContacto.get('asunto')?.errors?.['required']">
                            Este campo es obligatorio
                        </div>                        
                    </div> 
                    <div class="row">
                        <div class="col d-flex align-items-center"> 
                            <span>
                                <fa-icon [icon]="faEnvelop" class="icono-contacto"></fa-icon>
                            </span>                           
                            <input
                                #correoForm 
                                type="email" 
                                id="correo" 
                                name="correo" 
                                class="form-control my-2" 
                                placeholder="Correo" 
                                formControlName="correo"
                                maxlength="30"                                
                                (click)="ocultarMensajeError()"                                
                                >
                        </div>
                        <div 
                            class="mensajeErrorContacto alert alert-danger" 
                            *ngIf="formularioInvalido && formularioContacto.get('correo')?.errors?.['required']">
                            Este campo es obligatorio
                        </div>
                        <div                             
                            class="mensajeErrorContacto alert alert-danger" 
                            *ngIf="formularioInvalido && formularioContacto.get('correo')?.errors?.['email']">
                            El correo debe cumplir con el siguiente formato de ejemplo: mauricio@gmail.com
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col">                       
                            <textarea
                                #mensajeForm 
                                placeholder="Mensaje" 
                                class="form-control mt-2" 
                                maxlength="200" 
                                formControlName="mensaje"                                
                                (click)="ocultarMensajeError()" ></textarea>
                        </div>
                        <div 
                            class="mensajeErrorContacto alert alert-danger mt-2" 
                            *ngIf="formularioInvalido && formularioContacto.get('mensaje')?.errors?.['required']">
                            Este campo es obligatorio
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">                       
                            <button type="submit" class="btn btn-primary" >Enviar</button>
                        </div>                        
                    </div>
                                         
                </form>
            </div>
            <div id="container-info">
                
                <div>                    
                    <label>Ubicación</label>                                       
                    <p #ubicacion>{{ubicacion}}</p>
                </div>
                <div class="my-4">
                    <label>Teléfono</label>                    
                    <p #telefono >{{telefono}}</p>                   
                </div>
                <div class="my-4">
                    <label>Correo</label>
                    <p #correo >{{correo}}</p>
                </div>
            </div>

        </div>                  
    </div>

</section>

<app-contacto-modal
    (modificarTitulo)="cambiarTitulo($event)">
</app-contacto-modal>  