<section id="contacto" class="d-flex justify-content-center">
    <div id="container" data-aos="fade-up" data-aos-duration="800" data-aos-easing="ease-in-out">        
        <div class="mb-4 d-flex justify-content-center align-items-baseline flex-wrap">
            <h3><strong>{{titulo}}</strong></h3>
            <div class="ms-3" *ngIf="modoEdicion">
                <fa-icon
                    class="icono-edicion"
                    [icon]="faSquarePen" 
                    data-bs-toggle="modal" 
                    data-bs-target="#titulo-contacto-modal">
                </fa-icon>                               
            </div>            
        </div>
        <div class="mt-4 d-flex" id="container-form-info" >
            <div id="container-form">                
                <div class="row">
                    <div class="col">
                        <p>Formulario de contacto</p>
                    </div>
                </div>
                <form (ngSubmit)="onSubmit()" [formGroup]="formularioContacto">
                    <div class="row">
                        <div class="col d-flex align-items-center">
                            <span>
                                <fa-icon [icon]="faUser" class="icono-contacto"></fa-icon>
                            </span>                             
                            <input
                                #nombreForm 
                                type="text" 
                                id="nombre" 
                                name="nombre" 
                                class="form-control inputForm my-2" 
                                placeholder="Nombre" 
                                formControlName="nombre"
                                maxlength="30"                                
                                (click)="ocultarMensajeError()">                            
                        </div>
                        <div 
                            class="mensajeErrorCampo alert alert-danger" 
                            *ngIf="formularioInvalido && formularioContacto.get('nombre')?.errors?.['required']">
                            Este campo es obligatorio
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="col d-flex align-items-center">
                            <span>
                                <fa-icon [icon]="faFileLines" class="icono-contacto"></fa-icon>
                            </span>                          
                            <input
                                #asuntoForm 
                                type="texto" 
                                id="asunto" 
                                name="asunto" 
                                class="form-control inputForm my-2" 
                                placeholder="Asunto" 
                                formControlName="asunto"
                                maxlength="40"                                
                                (click)="ocultarMensajeError()" >
                        </div>
                        <div 
                            class="mensajeErrorCampo alert alert-danger" 
                            *ngIf="formularioInvalido && formularioContacto.get('asunto')?.errors?.['required']">
                            Este campo es obligatorio
                        </div>                        
                    </div> 
                    <div class="row">
                        <div class="col d-flex align-items-center"> 
                            <span>
                                <fa-icon [icon]="faEnvelop" class="icono-contacto"></fa-icon>
                            </span>                           
                            <input
                                #correoForm 
                                type="email" 
                                id="correo" 
                                name="correo" 
                                class="form-control inputForm my-2" 
                                placeholder="Correo" 
                                formControlName="correo"
                                maxlength="30"                                
                                (click)="ocultarMensajeError()"                                
                                >
                        </div>
                        <div 
                            class="mensajeErrorCampo alert alert-danger" 
                            *ngIf="formularioInvalido && formularioContacto.get('correo')?.errors?.['required']">
                            Este campo es obligatorio
                        </div>
                        <div                             
                            class="mensajeErrorCampo alert alert-danger" 
                            *ngIf="formularioInvalido && formularioContacto.get('correo')?.errors?.['email']">
                            El correo debe cumplir con el siguiente formato de ejemplo: mauricio@gmail.com
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col">                       
                            <textarea
                                #mensajeForm 
                                placeholder="Mensaje" 
                                class="form-control inputForm mt-2" 
                                maxlength="200" 
                                formControlName="mensaje"                                
                                (click)="ocultarMensajeError()" ></textarea>
                        </div>
                        <div 
                            class="mensajeErrorCampo alert alert-danger mt-2" 
                            *ngIf="formularioInvalido && formularioContacto.get('mensaje')?.errors?.['required']">
                            Este campo es obligatorio
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">                       
                            <button type="submit" class="btn btn-primary" >Enviar</button>
                        </div>                        
                    </div>
                                         
                </form>
            </div>
            <div id="container-info">
                
                <div>                    
                    <label>Ubicación</label>                                       
                    <p #ubicacion>{{ubicacionContacto}}</p>
                </div>
                <div class="my-4">
                    <label>Teléfono</label>                    
                    <p #telefono >{{telefonoContacto}}</p>                   
                </div>
                <div class="my-4">
                    <label>Correo</label>
                    <p #correo >{{correoContacto}}</p>
                </div>
            </div>

        </div>                  
    </div>

    <!-- MODAL TITULO -->
    
    <div 
    class="modal fade modal-lg"      
    id="titulo-contacto-modal" tabindex="-1" 
    aria-labelledby="textoModalLabel"
    aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h3 class="modal-title textoModal" id="textoModalLabel">Editar Título e Información de Contacto</h3>                        
                </div>
                <div class="modal-body">                                 
                    <div class="d-flex modal-body-div">
                        <label for="user" class="form-label etiquetaModal">Título actual</label>
                        <p class="inputModal" id="titulo">{{titulo}}</p>                    
                    </div>
                    <div class="d-flex align-items-baseline modal-body-div mb-3">
                        <label for="user" class="form-label etiquetaModal">Nuevo título</label>
                        <input 
                            #nuevoTitulo 
                            type="text" 
                            class="form-control inputModal" 
                            placeholder="Ingrese nuevo título">
                    </div>
                    <div class="d-flex modal-body-div">
                        <label for="user" class="form-label etiquetaModal">Ubicación actual</label>
                        <p class="inputModal" id="titulo">{{ubicacionContacto}}</p>                    
                    </div>
                    <div class="d-flex align-items-baseline modal-body-div mb-3">
                        <label for="user" class="form-label etiquetaModal">Nueva ubicación</label>
                        <input 
                            #ubicacion 
                            type="text" 
                            class="form-control inputModal" 
                            placeholder="Ingrese ubicación (provincia, país)">
                    </div> 
                    <div class="d-flex modal-body-div">
                        <label for="user" class="form-label etiquetaModal">Teléfono actual</label>
                        <p class="inputModal" id="titulo">{{telefonoContacto}}</p>                    
                    </div>                  
                    <div class="d-flex flex-wrap align-items-baseline modal-body-div mb-3">
                        <label for="user" class="form-label etiquetaModal">Nuevo teléfono</label>
                        <input 
                            #telefono
                            type="text" 
                            class="form-control inputModal" 
                            placeholder="Ingresar teléfono">
                    </div>
                    <div class="d-flex modal-body-div">
                        <label for="user" class="form-label etiquetaModal">Correo actual</label>
                        <p class="inputModal" id="titulo">{{correoContacto}}</p>                    
                    </div>
                    <div class="d-flex align-items-baseline modal-body-div mb-3">
                        <label for="user" class="form-label etiquetaModal">Nuevo correo</label>
                        <input 
                            #correo
                            type="text" 
                            class="form-control inputModal" 
                            placeholder="Ingresar correo">
                    </div>                 
                    
                    <div class="modal-footer d-flex justify-content-between pt-2 pe-0 pb-0 ps-0">
                        <button 
                            type="button" 
                            class="btn btn-danger"                            
                            data-bs-dismiss="modal"
                            (click)="resetearTitulo()" 
                            >
                            Cerrar
                        </button>
                        <button 
                            type="button" 
                            class="btn btn-primary"                                                      
                            data-bs-dismiss="modal"
                            (click)="cambiarTitulo()"                           
                            >
                            Aceptar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL EDITAR INFORMACION DE CONTACTO -->

    <div 
    class="modal fade modal-lg"      
    id="contacto-modal" tabindex="-1" 
    aria-labelledby="textoModalLabel"
    aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h3 class="modal-title textoModal" id="textoModalLabel">Editar Información de Contacto</h3>                        
                </div>
                <div class="modal-body">                           
                    
                                     
                    
                    <div class="modal-footer d-flex justify-content-between pt-2 pe-0 pb-0 ps-0">
                        <button 
                            type="button" 
                            class="btn btn-danger"                            
                            data-bs-dismiss="modal"
                            (click)="resetearInputs()"
                            >
                            Cerrar
                        </button>
                        <button 
                            type="button" 
                            class="btn btn-primary"                                                      
                            data-bs-dismiss="modal"                                                       
                            >
                            Aceptar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>